<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,79},{75,38}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{75,38}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>bird_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,38}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{76,38}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>bird_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{75,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{75,44}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>bird_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{74,38}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{74,38}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>bird_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{75,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{75,38}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13f42543c11392457577f6545eba824e:1/1$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
