<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>179.8149719238281</real>
	<key>angleVariance</key>
	<real>115.8899993896484</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>0</real>
	<key>finishColorBlue</key>
	<real>0.9100000262260437</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>0.9100000262260437</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.9399999976158142</real>
	<key>finishColorVarianceGreen</key>
	<real>0.8600000143051147</real>
	<key>finishColorVarianceRed</key>
	<real>0.7799999713897705</real>
	<key>finishParticleSize</key>
	<real>39.88999938964844</real>
	<key>finishParticleSizeVariance</key>
	<real>0</real>
	<key>gravityx</key>
	<real>-155.1192474365234</real>
	<key>gravityy</key>
	<integer>90</integer>
	<key>maxParticles</key>
	<integer>20</integer>
	<key>maxRadius</key>
	<integer>100</integer>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>0</real>
	<key>particleLifespanVariance</key>
	<real>4.67110013961792</real>
	<key>radialAccelVariance</key>
	<real>0</real>
	<key>radialAcceleration</key>
	<real>0</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>863</real>
	<key>sourcePositionVariancey</key>
	<real>-64</real>
	<key>sourcePositionx</key>
	<real>538.8400268554688</real>
	<key>sourcePositiony</key>
	<real>29.69000053405762</real>
	<key>speed</key>
	<real>0</real>
	<key>speedVariance</key>
	<real>0</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>0.6200000047683716</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>1</real>
	<key>startColorVarianceGreen</key>
	<real>1</real>
	<key>startColorVarianceRed</key>
	<real>1</real>
	<key>startParticleSize</key>
	<real>0</real>
	<key>startParticleSizeVariance</key>
	<real>0</real>
	<key>tangentialAccelVariance</key>
	<real>0</real>
	<key>tangentialAcceleration</key>
	<real>0</real>
	<key>textureFileName</key>
	<string>particleTexture.png</string>
</dict>
</plist>
