<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy_crab_faint_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,694},{169,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{169,81}}</string>
			<key>sourceSize</key>
			<string>{169,83}</string>
		</dict>
		<key>enemy_crab_faint_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,694},{169,79}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{169,79}}</string>
			<key>sourceSize</key>
			<string>{169,83}</string>
		</dict>
		<key>enemy_crab_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,171},{167,81}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{167,81}}</string>
			<key>sourceSize</key>
			<string>{169,83}</string>
		</dict>
		<key>enemy_crab_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,523},{169,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,83}}</string>
			<key>sourceSize</key>
			<string>{169,83}</string>
		</dict>
		<key>enemy_crab_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,171},{167,81}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{167,81}}</string>
			<key>sourceSize</key>
			<string>{169,83}</string>
		</dict>
		<key>enemy_crab_run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,692},{167,83}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{167,83}}</string>
			<key>sourceSize</key>
			<string>{169,83}</string>
		</dict>
		<key>enemy_crab_run_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,2},{167,81}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{167,81}}</string>
			<key>sourceSize</key>
			<string>{169,83}</string>
		</dict>
		<key>enemy_dodo_faint_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,2},{91,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,121}}</string>
			<key>sourceSize</key>
			<string>{91,121}</string>
		</dict>
		<key>enemy_dodo_faint_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,337},{113,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,72}}</string>
			<key>sourceSize</key>
			<string>{113,72}</string>
		</dict>
		<key>enemy_dodo_faint_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,109},{101,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,81}}</string>
			<key>sourceSize</key>
			<string>{101,81}</string>
		</dict>
		<key>enemy_dodo_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,239},{104,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{104,96}}</string>
			<key>sourceSize</key>
			<string>{112,104}</string>
		</dict>
		<key>enemy_dodo_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,337},{98,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{98,104}}</string>
			<key>sourceSize</key>
			<string>{112,104}</string>
		</dict>
		<key>enemy_dodo_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,125},{112,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{112,88}}</string>
			<key>sourceSize</key>
			<string>{112,104}</string>
		</dict>
		<key>enemy_frog_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,765},{41,48}}</string>
			<key>offset</key>
			<string>{1,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,25},{51,48}}</string>
			<key>sourceSize</key>
			<string>{53,74}</string>
		</dict>
		<key>enemy_frog_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,229},{41,38}}</string>
			<key>offset</key>
			<string>{1,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,25},{51,48}}</string>
			<key>sourceSize</key>
			<string>{53,74}</string>
		</dict>
		<key>enemy_frog_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,229},{41,38}}</string>
			<key>offset</key>
			<string>{1,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,25},{51,48}}</string>
			<key>sourceSize</key>
			<string>{53,74}</string>
		</dict>
		<key>enemy_frog_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,481},{38,59}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{47,74}}</string>
			<key>sourceSize</key>
			<string>{53,74}</string>
		</dict>
		<key>enemy_frog_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,229},{41,38}}</string>
			<key>offset</key>
			<string>{-1,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,25},{51,48}}</string>
			<key>sourceSize</key>
			<string>{53,74}</string>
		</dict>
		<key>enemy_frog_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,125},{41,32}}</string>
			<key>offset</key>
			<string>{1,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,33},{51,40}}</string>
			<key>sourceSize</key>
			<string>{53,74}</string>
		</dict>
		<key>enemy_ghost_faint.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,2},{109,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,130}}</string>
			<key>sourceSize</key>
			<string>{109,130}</string>
		</dict>
		<key>enemy_ghost_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,523},{100,167}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{100,167}}</string>
			<key>sourceSize</key>
			<string>{100,173}</string>
		</dict>
		<key>enemy_ghost_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,350},{100,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{100,171}}</string>
			<key>sourceSize</key>
			<string>{100,173}</string>
		</dict>
		<key>enemy_ghost_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,177},{100,171}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,171}}</string>
			<key>sourceSize</key>
			<string>{100,173}</string>
		</dict>
		<key>enemy_ghost_run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,173}}</string>
			<key>sourceSize</key>
			<string>{100,173}</string>
		</dict>
		<key>enemy_hog_faint_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,2},{105,48}}</string>
			<key>offset</key>
			<string>{0,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,46},{105,48}}</string>
			<key>sourceSize</key>
			<string>{105,94}</string>
		</dict>
		<key>enemy_hog_faint_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,617},{67,86}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,8},{67,86}}</string>
			<key>sourceSize</key>
			<string>{105,94}</string>
		</dict>
		<key>enemy_hog_faint_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,956},{59,94}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,0},{59,94}}</string>
			<key>sourceSize</key>
			<string>{105,94}</string>
		</dict>
		<key>enemy_hog_faint_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,523},{77,68}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,26},{77,68}}</string>
			<key>sourceSize</key>
			<string>{105,94}</string>
		</dict>
		<key>enemy_hog_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,443},{76,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{76,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>enemy_hog_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,2},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>enemy_hog_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,257},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>enemy_hog_run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,257},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>enemy_pangolin_faint.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,75},{67,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,70}}</string>
			<key>sourceSize</key>
			<string>{67,70}</string>
		</dict>
		<key>enemy_pangolin_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,82},{72,67}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{72,67}}</string>
			<key>sourceSize</key>
			<string>{72,71}</string>
		</dict>
		<key>enemy_pangolin_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,2},{68,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{68,71}}</string>
			<key>sourceSize</key>
			<string>{72,71}</string>
		</dict>
		<key>enemy_pangolin_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,617},{72,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{72,67}}</string>
			<key>sourceSize</key>
			<string>{72,71}</string>
		</dict>
		<key>enemy_pangolin_run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,209},{68,71}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{68,71}}</string>
			<key>sourceSize</key>
			<string>{72,71}</string>
		</dict>
		<key>enemy_poke_faint.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,500},{136,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,153}}</string>
			<key>sourceSize</key>
			<string>{136,153}</string>
		</dict>
		<key>enemy_poke_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,686},{148,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{148,123}}</string>
			<key>sourceSize</key>
			<string>{158,123}</string>
		</dict>
		<key>enemy_poke_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,865},{154,119}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{154,119}}</string>
			<key>sourceSize</key>
			<string>{158,123}</string>
		</dict>
		<key>enemy_poke_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,340},{158,115}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{158,115}}</string>
			<key>sourceSize</key>
			<string>{158,123}</string>
		</dict>
		<key>enemy_poke_run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,836},{148,121}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{148,121}}</string>
			<key>sourceSize</key>
			<string>{158,123}</string>
		</dict>
		<key>enemy_poke_run_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,865},{154,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{154,119}}</string>
			<key>sourceSize</key>
			<string>{158,123}</string>
		</dict>
		<key>enemy_poke_run_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,861},{158,115}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{158,115}}</string>
			<key>sourceSize</key>
			<string>{158,123}</string>
		</dict>
		<key>enemy_sailor_faint.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,134},{121,115}}</string>
			<key>offset</key>
			<string>{6,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,18},{121,115}}</string>
			<key>sourceSize</key>
			<string>{143,133}</string>
		</dict>
		<key>enemy_sailor_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,686},{133,131}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,1},{133,131}}</string>
			<key>sourceSize</key>
			<string>{143,133}</string>
		</dict>
		<key>enemy_sailor_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,821},{133,129}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,2},{133,129}}</string>
			<key>sourceSize</key>
			<string>{143,133}</string>
		</dict>
		<key>enemy_sailor_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,145},{139,131}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{139,131}}</string>
			<key>sourceSize</key>
			<string>{143,133}</string>
		</dict>
		<key>enemy_sailor_run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,478},{137,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{137,131}}</string>
			<key>sourceSize</key>
			<string>{143,133}</string>
		</dict>
		<key>enemy_sailor_run_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,339},{137,131}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{137,131}}</string>
			<key>sourceSize</key>
			<string>{143,133}</string>
		</dict>
		<key>enemy_sailor_run_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,2},{141,131}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{141,131}}</string>
			<key>sourceSize</key>
			<string>{143,133}</string>
		</dict>
		<key>enemy_tortoise_faint_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,288},{72,41}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{72,41}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
		<key>enemy_tortoise_faint_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,655},{48,29}}</string>
			<key>offset</key>
			<string>{9,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,6},{48,29}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
		<key>enemy_tortoise_faint_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,836},{48,23}}</string>
			<key>offset</key>
			<string>{9,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,18},{48,23}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
		<key>enemy_tortoise_faint_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,655},{48,29}}</string>
			<key>offset</key>
			<string>{9,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,12},{48,29}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
		<key>enemy_tortoise_run_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,212},{74,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,43}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
		<key>enemy_tortoise_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,337},{74,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,43}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
		<key>enemy_tortoise_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,413},{74,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,43}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
		<key>enemy_tortoise_run_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,337},{74,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,43}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
		<key>enemy_tortoise_run_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,523},{74,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,43}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>enemy.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6a51a79fb616e0756843390ee837f281$</string>
		<key>textureFileName</key>
		<string>enemy.png</string>
	</dict>
</dict>
</plist>
