<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoes_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{117,116}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>shoes_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,120},{119,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,116}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>shoes_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{119,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,116}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>shoes_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{119,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,116}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>shoes_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,116}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoes.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10e365737538e0fa6395b5f96962ac3c:1/1$</string>
            <key>textureFileName</key>
            <string>shoes.png</string>
        </dict>
    </dict>
</plist>
