<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block-bounce-stone01.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,542},{47,34}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{67,48}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>block-bounce-stone02.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,225},{47,43}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>block-bounce-stone03.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,223},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spring.png</string>
            <key>size</key>
            <string>{1024,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbf49e87cb99d465ad37b74de1b870bc$</string>
            <key>textureFileName</key>
            <string>spring.png</string>
        </dict>
    </dict>
</plist>
